################################################################################X
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################X

/.vs/slnx.sqlite
